.group-creation {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f7fa;
  font-family: 'Arial', sans-serif;
}

.header {
  background-color: #003F91;
  color: white;
  padding: 20px;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 2rem;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  /* max-width: 800px; */
  margin: 0 auto;
  width: 100%;
}

.simulation-intro {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-align: center;
}

.simulation-intro h2 {
  color: #003F91;
  margin-top: 0;
  margin-bottom: 15px;
}

.simulation-intro p {
  color: #495057;
  line-height: 1.6;
  margin: 0;
}

.team-details {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-number {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-number label {
  font-weight: bold;
  color: #003F91;
}

.team-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-control-button {
  background-color: #B8CEF0;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.team-control-button:hover {
  background-color: #9ab8e0;
}

.team-count-display {
  padding: 10px;
  font-size: 1.2rem;
  width: 40px;
  text-align: center;
  border: none;
  background-color: #B8CEF0;
  border-radius: 8px;
}

.team-names {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-names label {
  font-weight: bold;
  color: #003F91;
}

.team-name-input-container {
  width: 100%;
}

.team-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #B8CEF0;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.start-button {
  background-color: #003F91;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.start-button:hover:not(:disabled) {
  background-color: #002a61;
  transform: translateY(-3px);
}

.start-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.footer {
  background-color: #003F91;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.footer-text {
  margin: 0;
  font-size: 0.9rem;
} 